@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

@layer base {
  * {
    font-family: Ubuntu-Condensed;
    color: #f0f0f0;
    font-size: 35px;
  }

  body {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply h-screen;
    @apply bg-[#fbc77f];
  }
}

.flip {
  animation: 0.5s linear flipping;
}

@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}
